<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bargain Marketplace</title>
</head>
<body>
    <div>
        <a href="/">Marketplace</a>
        <a href="{% url 'marketplace:new' %}">Submit new ad</a>
    </div>
    <div>
        {% if request.user.is_authenticated %}
            Prijavljen: {{request.user.username}}
            <a href="{% url 'logout' %}">Odjava</a>
        {% else %}
            <a href="{% url 'login' %}">Prijava</a>
        {% endif %}
    </div>
    <div>
        {% if request.user.is_superuser %}
        <a href= "/admin">Admin</a>
        <a href="{% url 'marketplace:disputes' %}">Disputes</a>
        {% endif %}
    </div>

    <h1>Bargain Marketplace</h1>
    {% block content %}
    {% endblock content %}

</body>
</html>