{% extends 'marketplace/base.html' %}

{% block content %}
<div>
    <form action="#" method="get">
        <select name="filter" onchange="this.form.submit()">
            <option selected disabled>Choose type</option>
            <option value="all">All</option>
            <option value="vehicles">Vehicles</option>
            <option value="aa">Antiques & Artifacts</option>
            <option value="mi">Music instruments</option>
            <option value="art">Art</option>
            <!--trebat ce dodati još, također moraju biti iste kao u submit new add template-->
        </select>
    </form>
</div>
<div>
    <h2>Check out latest ads:</h2>
    {% for ad in ads %}
        <div>
            <h3>{{ ad.title }}</h3>
            <p><small>{{ ad.pub_date }}</small></p>
            <p>Seller: {{ ad.seller }}</p>
            <img src="{{ ad.image }}" style="width: 150px;">
            <p>{{ ad.desc }}</p>
            <!--treba dodati tipku za kupnju i tu funkcionalnost-->
            </div>
    {% empty %}
        <p>No ads fitting your filter.</p>
    {% endfor %}
</div>

{% endblock content %}