{% extends 'marketplace/base.html' %}

{% block content %}
    <h1>{{ seller }}'s Public Profile</h1>
    <h2>Reviews:</h2>
    {% for review in reviews %}
        <h3>{{ review.poster }}</h3>
        <p><b>Rating: </b>{{ review.rating }}</p>
        <p>{{ review.text }}</p>
    {% empty %}
        <p>There are no reviews yet.</p>
    {% endfor %}

    {% if request.user.is_authenticated %}
        <form action="{%url 'marketplace:review'%}" method="post">
            {% csrf_token %}
            <label for ="">Rating 1-5</label>
            <input type="number" name="rating" min="1" max="5" required> <br>
            <label for ="">Text</label>
            <input type="text" name="text" required> <br>

            <input type="hidden" name="seller_id" value="{{ seller.id }}">

            <input type="submit" value="Submit a review">
        </form>
        {%else%}
            <a href="url 'login'">Login</a>
    {% endif %}

{% endblock content %}

                    